@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: #009746;
$secondary: #191919;
$accordion-border-color: #EBEBEB;
$font-family-base: 'Roboto', sans-serif;
$font-family-secondary: 'Inter', sans-serif;
