#left-panel {
  min-height: 100vh;
  background: #F0F0F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-wrap: wrap;

  @media all and (max-width: 767px) {
    height: auto;
    min-height: unset;
  }

  .left-panel-wrap {
    padding: 20px;
    flex-wrap: wrap;

    .left-panel-logo {
      text-align: center;
      //border-bottom: 1px solid #F1F5F9;
      padding-bottom: 20px;
      margin-bottom: 20px;
      width: 100%;


      @media all and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        margin-bottom: 0;
        border: 0;
        padding: 0;
      }

      img {
        //max-width: 155px;
        width: 100%;

        @media all and (max-width: 575px) {
          max-width: 200px;
        }
      }
    }

    .left-panel-menu {

      @media all and (max-width: 767px) {
        //display: none;
        position: absolute;
        width: calc(100% + 24px);
        top: 120px;
        background: #fff;
        left: -12px;
        z-index: 99;
      }

      @media all and (max-width: 575px) {
        top: 89px;
      }


      ul.admin_menu {
        list-style-type: none;
        padding: 0;


        li.menu-link {
          position: relative;
          margin-bottom: 8px;

          a {
            border-radius: 12px;
            padding: 11px 16px;
            display: flex;
            color: #231F20;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            letter-spacing: 0.2px;
            text-decoration: unset;
            position: relative;
            gap: 16px;
            align-items: center;

            &::before {
              content: '';
              width: 24px;
              height: 24px;
              background-position: center;
              background-repeat: no-repeat;
              display: block;
            }

            &.menu-link-informations {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 4H5C4.44772 4 4 4.44772 4 5V9C4 9.55228 4.44772 10 5 10H9C9.55228 10 10 9.55228 10 9V5C10 4.44772 9.55228 4 9 4Z' fill='black'/%3E%3Cpath d='M19 4H15C14.4477 4 14 4.44772 14 5V9C14 9.55228 14.4477 10 15 10H19C19.5523 10 20 9.55228 20 9V5C20 4.44772 19.5523 4 19 4Z' fill='black'/%3E%3Cpath d='M9 14H5C4.44772 14 4 14.4477 4 15V19C4 19.5523 4.44772 20 5 20H9C9.55228 20 10 19.5523 10 19V15C10 14.4477 9.55228 14 9 14Z' fill='black'/%3E%3Cpath d='M19 14H15C14.4477 14 14 14.4477 14 15V19C14 19.5523 14.4477 20 15 20H19C19.5523 20 20 19.5523 20 19V15C20 14.4477 19.5523 14 19 14Z' fill='black'/%3E%3Cpath d='M9 4H5C4.44772 4 4 4.44772 4 5V9C4 9.55228 4.44772 10 5 10H9C9.55228 10 10 9.55228 10 9V5C10 4.44772 9.55228 4 9 4Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 4H15C14.4477 4 14 4.44772 14 5V9C14 9.55228 14.4477 10 15 10H19C19.5523 10 20 9.55228 20 9V5C20 4.44772 19.5523 4 19 4Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 14H5C4.44772 14 4 14.4477 4 15V19C4 19.5523 4.44772 20 5 20H9C9.55228 20 10 19.5523 10 19V15C10 14.4477 9.55228 14 9 14Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 14H15C14.4477 14 14 14.4477 14 15V19C14 19.5523 14.4477 20 15 20H19C19.5523 20 20 19.5523 20 19V15C20 14.4477 19.5523 14 19 14Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              }
            }

            &.menu-link-documents {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='20' viewBox='0 0 16 20' fill='none'%3E%3Cpath d='M10 1V5C10 5.26522 10.1054 5.51957 10.2929 5.70711C10.4804 5.89464 10.7348 6 11 6H15' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H10L15 6V17C15 17.5304 14.7893 18.0391 14.4142 18.4142C14.0391 18.7893 13.5304 19 13 19Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 7H6' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 11H11' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 15H11' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              }
            }

            &.menu-link-foto {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M1 4.6C1 3.64522 1.37928 2.72955 2.05442 2.05442C2.72955 1.37928 3.64522 1 4.6 1H15.4C16.3548 1 17.2705 1.37928 17.9456 2.05442C18.6207 2.72955 19 3.64522 19 4.6V15.4C19 16.3548 18.6207 17.2705 17.9456 17.9456C17.2705 18.6207 16.3548 19 15.4 19H4.6C3.64522 19 2.72955 18.6207 2.05442 17.9456C1.37928 17.2705 1 16.3548 1 15.4V4.6Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.8501 9.09998C8.09274 9.09998 9.1001 8.09262 9.1001 6.84998C9.1001 5.60733 8.09274 4.59998 6.8501 4.59998C5.60746 4.59998 4.6001 5.60733 4.6001 6.84998C4.6001 8.09262 5.60746 9.09998 6.8501 9.09998Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.2735 10.5589L4.6001 19H15.5198C16.4428 19 17.3281 18.6333 17.9807 17.9806C18.6334 17.328 19.0001 16.4427 19.0001 15.5197V15.4C19.0001 14.9806 18.8426 14.8195 18.5591 14.509L14.9321 10.5535C14.7631 10.3691 14.5574 10.222 14.3284 10.1215C14.0993 10.021 13.8518 9.96934 13.6016 9.96985C13.3515 9.97036 13.1042 10.023 12.8755 10.1244C12.6468 10.2258 12.4418 10.3738 12.2735 10.5589V10.5589Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              }
            }

            &.menu-link-points {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M0 3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0H15C15.7956 0 16.5587 0.316071 17.1213 0.87868C17.6839 1.44129 18 2.20435 18 3V15C18 15.7956 17.6839 16.5587 17.1213 17.1213C16.5587 17.6839 15.7956 18 15 18H3C2.20435 18 1.44129 17.6839 0.87868 17.1213C0.316071 16.5587 0 15.7956 0 15V3ZM3 2C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V15C2 15.2652 2.10536 15.5196 2.29289 15.7071C2.48043 15.8946 2.73478 16 3 16H15C15.2652 16 15.5196 15.8946 15.7071 15.7071C15.8946 15.5196 16 15.2652 16 15V3C16 2.73478 15.8946 2.48043 15.7071 2.29289C15.5196 2.10536 15.2652 2 15 2H3ZM9 4C9.26522 4 9.51957 4.10536 9.70711 4.29289C9.89464 4.48043 10 4.73478 10 5V13C10 13.2652 9.89464 13.5196 9.70711 13.7071C9.51957 13.8946 9.26522 14 9 14C8.73478 14 8.48043 13.8946 8.29289 13.7071C8.10536 13.5196 8 13.2652 8 13V5C8 4.73478 8.10536 4.48043 8.29289 4.29289C8.48043 4.10536 8.73478 4 9 4ZM5 7C5.26522 7 5.51957 7.10536 5.70711 7.29289C5.89464 7.48043 6 7.73478 6 8V13C6 13.2652 5.89464 13.5196 5.70711 13.7071C5.51957 13.8946 5.26522 14 5 14C4.73478 14 4.48043 13.8946 4.29289 13.7071C4.10536 13.5196 4 13.2652 4 13V8C4 7.73478 4.10536 7.48043 4.29289 7.29289C4.48043 7.10536 4.73478 7 5 7ZM13 10C13.2652 10 13.5196 10.1054 13.7071 10.2929C13.8946 10.4804 14 10.7348 14 11V13C14 13.2652 13.8946 13.5196 13.7071 13.7071C13.5196 13.8946 13.2652 14 13 14C12.7348 14 12.4804 13.8946 12.2929 13.7071C12.1054 13.5196 12 13.2652 12 13V11C12 10.7348 12.1054 10.4804 12.2929 10.2929C12.4804 10.1054 12.7348 10 13 10Z' fill='black'/%3E%3C/svg%3E");
              }
            }

            &.menu-link-profile {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M7.46458 1.95725C7.85508 0.347583 10.1449 0.347583 10.5354 1.95725C10.594 2.19907 10.7089 2.42363 10.8707 2.61267C11.0324 2.8017 11.2366 2.94987 11.4664 3.0451C11.6963 3.14033 11.9454 3.17995 12.1935 3.16071C12.4415 3.14148 12.6816 3.06394 12.894 2.93442C14.3084 2.07275 15.9282 3.69158 15.0665 5.10692C14.9372 5.31927 14.8597 5.55914 14.8406 5.80704C14.8214 6.05494 14.8609 6.30387 14.9561 6.5336C15.0512 6.76332 15.1992 6.96736 15.388 7.12913C15.5768 7.2909 15.8012 7.40583 16.0428 7.46458C17.6524 7.85508 17.6524 10.1449 16.0428 10.5354C15.8009 10.594 15.5764 10.7089 15.3873 10.8707C15.1983 11.0324 15.0501 11.2366 14.9549 11.4664C14.8597 11.6963 14.8201 11.9454 14.8393 12.1935C14.8585 12.4415 14.9361 12.6816 15.0656 12.894C15.9273 14.3084 14.3084 15.9282 12.8931 15.0665C12.6807 14.9372 12.4409 14.8597 12.193 14.8406C11.9451 14.8214 11.6961 14.8609 11.4664 14.9561C11.2367 15.0512 11.0326 15.1992 10.8709 15.388C10.7091 15.5768 10.5942 15.8012 10.5354 16.0428C10.1449 17.6524 7.85508 17.6524 7.46458 16.0428C7.40599 15.8009 7.29113 15.5764 7.12935 15.3873C6.96757 15.1983 6.76344 15.0501 6.53357 14.9549C6.3037 14.8597 6.0546 14.8201 5.80653 14.8393C5.55846 14.8585 5.31844 14.9361 5.106 15.0656C3.69158 15.9273 2.07183 14.3084 2.9335 12.8931C3.06284 12.6807 3.14025 12.4409 3.15944 12.193C3.17863 11.9451 3.13906 11.6961 3.04393 11.4664C2.94881 11.2367 2.80082 11.0326 2.612 10.8709C2.42318 10.7091 2.19885 10.5942 1.95725 10.5354C0.347583 10.1449 0.347583 7.85508 1.95725 7.46458C2.19907 7.40599 2.42363 7.29113 2.61267 7.12935C2.8017 6.96757 2.94987 6.76344 3.0451 6.53357C3.14033 6.3037 3.17995 6.0546 3.16071 5.80653C3.14148 5.55846 3.06394 5.31844 2.93442 5.106C2.07275 3.69158 3.69158 2.07183 5.10692 2.9335C6.02358 3.49083 7.21158 2.99767 7.46458 1.95725Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 11.75C10.5188 11.75 11.75 10.5188 11.75 9C11.75 7.48122 10.5188 6.25 9 6.25C7.48122 6.25 6.25 7.48122 6.25 9C6.25 10.5188 7.48122 11.75 9 11.75Z' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              }
            }

            &.menu-link-logout {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M10.8333 5.33335V3.50002C10.8333 3.01379 10.6402 2.54747 10.2964 2.20366C9.95254 1.85984 9.48623 1.66669 9 1.66669H2.58333C2.0971 1.66669 1.63079 1.85984 1.28697 2.20366C0.943154 2.54747 0.75 3.01379 0.75 3.50002V14.5C0.75 14.9863 0.943154 15.4526 1.28697 15.7964C1.63079 16.1402 2.0971 16.3334 2.58333 16.3334H9C9.48623 16.3334 9.95254 16.1402 10.2964 15.7964C10.6402 15.4526 10.8333 14.9863 10.8333 14.5V12.6667' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.4165 9H17.2498M17.2498 9L14.4998 6.25M17.2498 9L14.4998 11.75' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              }
            }

          }

          &.menu-link-active {
            a {
              background: #F8FAFC;
              color: #009746;

              &.menu-link-informations {
                &::before {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 4H5C4.44772 4 4 4.44772 4 5V9C4 9.55228 4.44772 10 5 10H9C9.55228 10 10 9.55228 10 9V5C10 4.44772 9.55228 4 9 4Z' fill='%23439117'/%3E%3Cpath d='M19 4H15C14.4477 4 14 4.44772 14 5V9C14 9.55228 14.4477 10 15 10H19C19.5523 10 20 9.55228 20 9V5C20 4.44772 19.5523 4 19 4Z' fill='%23439117'/%3E%3Cpath d='M9 14H5C4.44772 14 4 14.4477 4 15V19C4 19.5523 4.44772 20 5 20H9C9.55228 20 10 19.5523 10 19V15C10 14.4477 9.55228 14 9 14Z' fill='%23439117'/%3E%3Cpath d='M19 14H15C14.4477 14 14 14.4477 14 15V19C14 19.5523 14.4477 20 15 20H19C19.5523 20 20 19.5523 20 19V15C20 14.4477 19.5523 14 19 14Z' fill='%23439117'/%3E%3Cpath d='M9 4H5C4.44772 4 4 4.44772 4 5V9C4 9.55228 4.44772 10 5 10H9C9.55228 10 10 9.55228 10 9V5C10 4.44772 9.55228 4 9 4Z' stroke='%23439117' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 4H15C14.4477 4 14 4.44772 14 5V9C14 9.55228 14.4477 10 15 10H19C19.5523 10 20 9.55228 20 9V5C20 4.44772 19.5523 4 19 4Z' stroke='%23439117' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 14H5C4.44772 14 4 14.4477 4 15V19C4 19.5523 4.44772 20 5 20H9C9.55228 20 10 19.5523 10 19V15C10 14.4477 9.55228 14 9 14Z' stroke='%23439117' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19 14H15C14.4477 14 14 14.4477 14 15V19C14 19.5523 14.4477 20 15 20H19C19.5523 20 20 19.5523 20 19V15C20 14.4477 19.5523 14 19 14Z' stroke='%23439117' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
              }

              &.menu-link-documents {
                &::before {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='20' viewBox='0 0 16 20' fill='none'%3E%3Cpath d='M10 1V5C10 5.26522 10.1054 5.51957 10.2929 5.70711C10.4804 5.89464 10.7348 6 11 6H15' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13 19H3C2.46957 19 1.96086 18.7893 1.58579 18.4142C1.21071 18.0391 1 17.5304 1 17V3C1 2.46957 1.21071 1.96086 1.58579 1.58579C1.96086 1.21071 2.46957 1 3 1H10L15 6V17C15 17.5304 14.7893 18.0391 14.4142 18.4142C14.0391 18.7893 13.5304 19 13 19Z' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 7H6' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 11H11' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 15H11' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
              }

              &.menu-link-foto {
                &::before {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M1 4.6C1 3.64522 1.37928 2.72955 2.05442 2.05442C2.72955 1.37928 3.64522 1 4.6 1H15.4C16.3548 1 17.2705 1.37928 17.9456 2.05442C18.6207 2.72955 19 3.64522 19 4.6V15.4C19 16.3548 18.6207 17.2705 17.9456 17.9456C17.2705 18.6207 16.3548 19 15.4 19H4.6C3.64522 19 2.72955 18.6207 2.05442 17.9456C1.37928 17.2705 1 16.3548 1 15.4V4.6Z' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.84998 9.1001C8.09262 9.1001 9.09998 8.09274 9.09998 6.8501C9.09998 5.60746 8.09262 4.6001 6.84998 4.6001C5.60733 4.6001 4.59998 5.60746 4.59998 6.8501C4.59998 8.09274 5.60733 9.1001 6.84998 9.1001Z' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.2734 10.5588L4.59998 18.9999H15.5197C16.4427 18.9999 17.3279 18.6332 17.9806 17.9805C18.6333 17.3278 19 16.4426 19 15.5196V15.3999C19 14.9805 18.8425 14.8194 18.559 14.5089L14.932 10.5534C14.7629 10.369 14.5573 10.2218 14.3282 10.1214C14.0991 10.0209 13.8516 9.96922 13.6015 9.96973C13.3513 9.97024 13.104 10.0229 12.8754 10.1243C12.6467 10.2257 12.4417 10.3737 12.2734 10.5588V10.5588Z' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
              }

              &.menu-link-points {
                &::before {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M0 3C0 2.20435 0.316071 1.44129 0.87868 0.87868C1.44129 0.316071 2.20435 0 3 0H15C15.7956 0 16.5587 0.316071 17.1213 0.87868C17.6839 1.44129 18 2.20435 18 3V15C18 15.7956 17.6839 16.5587 17.1213 17.1213C16.5587 17.6839 15.7956 18 15 18H3C2.20435 18 1.44129 17.6839 0.87868 17.1213C0.316071 16.5587 0 15.7956 0 15V3ZM3 2C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V15C2 15.2652 2.10536 15.5196 2.29289 15.7071C2.48043 15.8946 2.73478 16 3 16H15C15.2652 16 15.5196 15.8946 15.7071 15.7071C15.8946 15.5196 16 15.2652 16 15V3C16 2.73478 15.8946 2.48043 15.7071 2.29289C15.5196 2.10536 15.2652 2 15 2H3ZM9 4C9.26522 4 9.51957 4.10536 9.70711 4.29289C9.89464 4.48043 10 4.73478 10 5V13C10 13.2652 9.89464 13.5196 9.70711 13.7071C9.51957 13.8946 9.26522 14 9 14C8.73478 14 8.48043 13.8946 8.29289 13.7071C8.10536 13.5196 8 13.2652 8 13V5C8 4.73478 8.10536 4.48043 8.29289 4.29289C8.48043 4.10536 8.73478 4 9 4ZM5 7C5.26522 7 5.51957 7.10536 5.70711 7.29289C5.89464 7.48043 6 7.73478 6 8V13C6 13.2652 5.89464 13.5196 5.70711 13.7071C5.51957 13.8946 5.26522 14 5 14C4.73478 14 4.48043 13.8946 4.29289 13.7071C4.10536 13.5196 4 13.2652 4 13V8C4 7.73478 4.10536 7.48043 4.29289 7.29289C4.48043 7.10536 4.73478 7 5 7ZM13 10C13.2652 10 13.5196 10.1054 13.7071 10.2929C13.8946 10.4804 14 10.7348 14 11V13C14 13.2652 13.8946 13.5196 13.7071 13.7071C13.5196 13.8946 13.2652 14 13 14C12.7348 14 12.4804 13.8946 12.2929 13.7071C12.1054 13.5196 12 13.2652 12 13V11C12 10.7348 12.1054 10.4804 12.2929 10.2929C12.4804 10.1054 12.7348 10 13 10Z' fill='%23439117'/%3E%3C/svg%3E");
                }
              }

              &.menu-link-profile {
                &::before {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M7.46458 1.95725C7.85508 0.347583 10.1449 0.347583 10.5354 1.95725C10.594 2.19907 10.7089 2.42363 10.8707 2.61267C11.0324 2.8017 11.2366 2.94987 11.4664 3.0451C11.6963 3.14033 11.9454 3.17995 12.1935 3.16071C12.4415 3.14148 12.6816 3.06394 12.894 2.93442C14.3084 2.07275 15.9282 3.69158 15.0665 5.10692C14.9372 5.31927 14.8597 5.55914 14.8406 5.80704C14.8214 6.05494 14.8609 6.30387 14.9561 6.5336C15.0512 6.76332 15.1992 6.96736 15.388 7.12913C15.5768 7.2909 15.8012 7.40583 16.0428 7.46458C17.6524 7.85508 17.6524 10.1449 16.0428 10.5354C15.8009 10.594 15.5764 10.7089 15.3873 10.8707C15.1983 11.0324 15.0501 11.2366 14.9549 11.4664C14.8597 11.6963 14.8201 11.9454 14.8393 12.1935C14.8585 12.4415 14.9361 12.6816 15.0656 12.894C15.9273 14.3084 14.3084 15.9282 12.8931 15.0665C12.6807 14.9372 12.4409 14.8597 12.193 14.8406C11.9451 14.8214 11.6961 14.8609 11.4664 14.9561C11.2367 15.0512 11.0326 15.1992 10.8709 15.388C10.7091 15.5768 10.5942 15.8012 10.5354 16.0428C10.1449 17.6524 7.85508 17.6524 7.46458 16.0428C7.40599 15.8009 7.29113 15.5764 7.12935 15.3873C6.96757 15.1983 6.76344 15.0501 6.53357 14.9549C6.3037 14.8597 6.0546 14.8201 5.80653 14.8393C5.55846 14.8585 5.31844 14.9361 5.106 15.0656C3.69158 15.9273 2.07183 14.3084 2.9335 12.8931C3.06284 12.6807 3.14025 12.4409 3.15944 12.193C3.17863 11.9451 3.13906 11.6961 3.04393 11.4664C2.94881 11.2367 2.80082 11.0326 2.612 10.8709C2.42318 10.7091 2.19885 10.5942 1.95725 10.5354C0.347583 10.1449 0.347583 7.85508 1.95725 7.46458C2.19907 7.40599 2.42363 7.29113 2.61267 7.12935C2.8017 6.96757 2.94987 6.76344 3.0451 6.53357C3.14033 6.3037 3.17995 6.0546 3.16071 5.80653C3.14148 5.55846 3.06394 5.31844 2.93442 5.106C2.07275 3.69158 3.69158 2.07183 5.10692 2.9335C6.02358 3.49083 7.21158 2.99767 7.46458 1.95725Z' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 11.75C10.5188 11.75 11.75 10.5188 11.75 9C11.75 7.48122 10.5188 6.25 9 6.25C7.48122 6.25 6.25 7.48122 6.25 9C6.25 10.5188 7.48122 11.75 9 11.75Z' stroke='%23439117' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
              }

              &.menu-link-logout {
                &::before {
                  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M10.8333 5.33335V3.50002C10.8333 3.01379 10.6402 2.54747 10.2964 2.20366C9.95254 1.85984 9.48623 1.66669 9 1.66669H2.58333C2.0971 1.66669 1.63079 1.85984 1.28697 2.20366C0.943154 2.54747 0.75 3.01379 0.75 3.50002V14.5C0.75 14.9863 0.943154 15.4526 1.28697 15.7964C1.63079 16.1402 2.0971 16.3334 2.58333 16.3334H9C9.48623 16.3334 9.95254 16.1402 10.2964 15.7964C10.6402 15.4526 10.8333 14.9863 10.8333 14.5V12.6667' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.4165 9H17.2498M17.2498 9L14.4998 6.25M17.2498 9L14.4998 11.75' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
              }
            }
          }
        }
      }
    }

    .navbar-toggler {
      @media all and (max-width: 575px) {
        border: 0;
      }
    }
  }
}

#main-content {
  padding: 22px 30px;

  .main-content-wrap {
    .admin_top_name {
      background: #009746;
      padding: 16px;
      color: #FFF;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.64px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media all and (max-width: 1199px) {
        font-size: 22px;
      }

      @media all and (max-width: 575px) {
        display: flex;
        flex-direction: column;
        font-size: 20px;
      }

      & > span {
        &:last-child {
          filter: drop-shadow(0px 4px 4px #000);
        }
      }
    }

    h2.title_page {
      color: #000;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.64px;
      margin-bottom: 26px;

      @media all and (max-width: 575px) {
        font-size: 20px;
      }

      span {
        color: #009746;
      }


    }

    .main_panel_1 {
      margin-top: 47px;

      .accordion {
        .accordion-item {
          h2 {
            button {
              svg {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                padding: 4px;
                margin-right: 10px;
              }

            }
          }

          .accordion-body {
            color: #020203;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;

            p {
              @extend .accordion-body;
            }

            a {
              text-decoration: unset;
            }

          }

          &.accordion-item-add {
            h2 {
              button {
                svg {
                  background: #009746;
                }

              }
            }
          }

          &.accordion-item-remove {
            h2 {
              button {
                svg {
                  background: #E52521;
                }

              }
            }
          }
        }

      }


    }

    .main_panel_2 {
      margin-top: 60px;

      a.btn {
        color: #FFF;
        text-align: center;

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.2px;
        border-radius: 16px;
        line-height: unset;
        margin: auto;
        //max-width: 218px;
        display: block;
        width: max-content;
      }

      img {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
      }

      .ind_code {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.64px;
        padding: 16px;

        @media all and (max-width: 575px) {
          font-size: 20px;
        }

        span {
          color: #E52521;
        }
      }

      ul {
        list-style-type: none;

        li {
          color: #000;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          position: relative;
          margin-bottom: 8px;

          &:first-child {
            color: #E52521;
            font-weight: 800;
          }

          &::before {
            content: '';
            position: absolute;
            width: 32px;
            height: 32px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='30' viewBox='0 0 26 30' fill='none'%3E%3Cpath d='M16.3977 14.3131C15.5202 10.5584 13.1099 7.99355 9.61133 6.38842C9.6968 5.47361 10.3008 3.70011 10.6256 2.81897C12.4261 3.59347 13.9703 4.82819 15.1213 6.43893C16.7224 8.66704 16.7623 11.6753 16.3977 14.3131Z' fill='white'/%3E%3Cpath d='M16.3977 14.3131C15.5202 10.5584 13.1099 7.99355 9.61133 6.38842C9.6968 5.47361 10.3008 3.70011 10.6256 2.81897C12.4261 3.59347 13.9703 4.82819 15.1213 6.43893C16.7224 8.66704 16.7623 11.6753 16.3977 14.3131Z' stroke='black' stroke-width='0.25' stroke-miterlimit='10'/%3E%3Cpath d='M22.2382 19.8075C22.2382 22.8775 18.4206 25.375 13.7197 25.375C10.6827 25.375 8.016 24.3311 6.50603 22.7596C6.31229 22.4397 6.15845 22.1086 6.06158 21.7662C5.90774 21.278 5.82227 21.1096 5.82227 20.6999C5.82227 20.2846 5.98751 19.8075 6.06158 19.6335C6.82511 17.0743 10.2838 15.1324 14.4206 15.1324C17.4519 15.1324 20.1186 16.1707 21.6285 17.7366C22.0274 18.3764 22.2382 19.0779 22.2382 19.8075Z' fill='%23FFB000'/%3E%3Cpath d='M22.2382 19.8075C22.2382 22.8775 18.4206 25.375 13.7197 25.375C10.6827 25.375 8.016 24.3311 6.50603 22.7596C6.31229 22.4397 6.15845 22.1086 6.06158 21.7662C5.90774 21.278 5.82227 21.1096 5.82227 20.6999C5.82227 20.2846 5.98751 19.8075 6.06158 19.6335C6.82511 17.0743 10.2838 15.1324 14.4206 15.1324C17.4519 15.1324 20.1186 16.1707 21.6285 17.7366C22.0274 18.3764 22.2382 19.0779 22.2382 19.8075Z' stroke='black' stroke-width='0.25' stroke-miterlimit='10'/%3E%3Cpath d='M14.6766 13.6283C14.2834 13.7294 13.8903 13.8079 13.4914 13.8697C13.292 13.8977 13.0869 13.9258 12.8817 13.937C12.8191 13.9426 12.7564 13.9482 12.6937 13.9539C12.4487 13.9707 12.2037 13.9819 11.953 13.9819C11.7023 13.9819 11.4458 13.9707 11.1894 13.9482C11.1211 13.9426 11.047 13.9426 10.9786 13.9314C10.1467 13.8528 9.31479 13.6788 8.49427 13.4038C6.90453 12.8594 5.46294 11.9615 4.25496 10.7885C3.21792 9.49765 2.4259 7.9767 1.94727 6.30984C3.97576 5.77105 6.09541 5.84962 8.11821 6.53433C8.22077 6.568 8.32333 6.60168 8.4202 6.64096C9.14385 6.91036 9.8333 7.25832 10.4829 7.67364C11.1609 8.10579 11.7991 8.6109 12.3746 9.18336C13.4117 10.463 14.198 11.9783 14.6766 13.6283Z' fill='white'/%3E%3Cpath d='M14.6766 13.6283C14.2834 13.7294 13.8903 13.8079 13.4914 13.8697C13.292 13.8977 13.0869 13.9258 12.8817 13.937C12.8191 13.9426 12.7564 13.9482 12.6937 13.9539C12.4487 13.9707 12.2037 13.9819 11.953 13.9819C11.7023 13.9819 11.4458 13.9707 11.1894 13.9482C11.1211 13.9426 11.047 13.9426 10.9786 13.9314C10.1467 13.8528 9.31479 13.6788 8.49427 13.4038C6.90453 12.8594 5.46294 11.9615 4.25496 10.7885C3.21792 9.49765 2.4259 7.9767 1.94727 6.30984C3.97576 5.77105 6.09541 5.84962 8.11821 6.53433C8.22077 6.568 8.32333 6.60168 8.4202 6.64096C9.14385 6.91036 9.83331 7.25832 10.4829 7.67364C11.1609 8.10579 11.7991 8.6109 12.3746 9.18336C13.4117 10.463 14.198 11.9783 14.6766 13.6283Z' stroke='black' stroke-width='0.25' stroke-miterlimit='10'/%3E%3Cpath d='M19.1724 19.656C19.1724 20.2061 18.7222 20.6494 18.1638 20.6494C17.6054 20.6494 17.1553 20.2061 17.1553 19.656C17.1553 19.106 17.6054 18.6627 18.1638 18.6627C18.255 18.6627 18.3405 18.6739 18.4259 18.6963C18.1809 18.73 17.9929 18.9433 17.9929 19.1958C17.9929 19.4708 18.2208 19.7009 18.5057 19.7009C18.7849 19.7009 19.0185 19.4764 19.0185 19.1958C19.0185 19.1622 19.0185 19.1341 19.0071 19.106C19.104 19.2576 19.1724 19.4484 19.1724 19.656Z' fill='%23231F20'/%3E%3Cpath d='M19.1724 19.656C19.1724 20.2061 18.7222 20.6494 18.1638 20.6494C17.6054 20.6494 17.1553 20.2061 17.1553 19.656C17.1553 19.106 17.6054 18.6627 18.1638 18.6627C18.255 18.6627 18.3405 18.6739 18.4259 18.6963C18.1809 18.73 17.9929 18.9433 17.9929 19.1958C17.9929 19.4708 18.2208 19.7009 18.5057 19.7009C18.7849 19.7009 19.0185 19.4764 19.0185 19.1958C19.0185 19.1622 19.0185 19.1341 19.0071 19.106C19.104 19.2576 19.1724 19.4484 19.1724 19.656Z' stroke='black' stroke-width='0.25' stroke-miterlimit='10'/%3E%3Cpath d='M24.8195 16.3447C24.7967 16.3111 24.7682 16.2774 24.7283 16.2493C24.1414 15.7723 22.7454 15.2503 21.1898 16.1539C21.6969 15.1605 22.3921 14.7284 22.9676 14.56C23.0303 15.0371 23.4405 15.4075 23.9363 15.4075C24.4776 15.4075 24.922 14.9753 24.922 14.4365C24.922 13.8978 24.4833 13.4656 23.9363 13.4656C23.8907 13.4656 23.8508 13.4712 23.8052 13.4768C23.036 13.4656 21.2411 13.7013 20.2269 15.8565C19.5146 15.4131 18.7055 15.0427 17.8109 14.7677C18.6827 11.5293 18.073 8.02724 16.0901 5.24913C14.6827 3.2848 12.7283 1.83121 10.432 1.05109C10.0331 0.910781 9.59439 1.1016 9.41775 1.47763C8.79666 2.80214 8.46048 4.21084 8.38641 5.63076C6.14139 4.99657 3.78812 5.02463 1.57159 5.74862C1.17273 5.87771 0.933417 6.28741 1.03028 6.69711C1.93057 10.6482 4.92772 13.8585 8.84795 15.0763C9.00749 15.1269 9.16704 15.1661 9.32658 15.211C7.36647 16.0585 5.92487 17.4167 5.38356 19.0106C5.34937 19.0106 5.32088 19.005 5.28669 19.005C4.30664 19.005 3.52031 19.6392 3.52031 20.4193C3.52031 21.1994 4.31233 21.8336 5.28669 21.8336C5.32088 21.8336 5.34937 21.828 5.38356 21.8224C6.09011 23.8933 8.31803 25.5658 11.2069 26.2618C12.1357 26.4806 13.1271 26.6041 14.1642 26.6041H14.2269C14.8366 26.5985 15.4348 26.5536 16.0103 26.475C16.8081 26.3628 17.5659 26.172 18.2724 25.925C21.1898 24.9036 23.1898 22.8158 23.1898 20.4193C23.1898 19.1565 22.6314 17.9779 21.6799 17.0014C22.3807 16.5861 22.9847 16.5748 23.412 16.6815C23.3437 17.007 23.4918 17.355 23.7995 17.5233C24.187 17.7366 24.6713 17.6019 24.8878 17.2259C25.0531 16.934 25.0132 16.5861 24.8195 16.3447ZM10.62 2.86388C12.2724 3.57103 13.6913 4.71034 14.7511 6.192C16.3237 8.38643 16.8821 11.114 16.3807 13.7013C15.4975 10.4069 13.1613 7.66805 10.0559 6.24812C10.0445 6.24251 10.0274 6.2369 10.016 6.23129C10.0217 5.09198 10.2155 3.95267 10.62 2.86388ZM5.67986 11.462C4.36362 10.289 3.36646 8.77929 2.83085 7.07314C4.58584 6.6466 6.4149 6.70834 8.16419 7.25273C8.31233 7.29763 8.45478 7.34814 8.60293 7.40427C8.64282 7.41549 8.67701 7.43233 8.71689 7.44917C8.83655 7.49406 8.96191 7.54458 9.08156 7.59509C9.11575 7.61192 9.14994 7.62315 9.18413 7.63999C9.30379 7.6905 9.42344 7.74662 9.5431 7.80274C9.57729 7.81958 9.61718 7.83642 9.65137 7.85887C9.75393 7.90938 9.8508 7.95989 9.95336 8.01601C10.016 8.04969 10.0844 8.08336 10.1414 8.11703C11.1044 8.66704 11.9648 9.36859 12.6941 10.1992C13.583 11.2094 14.2611 12.4049 14.677 13.7069C14.3408 13.7855 13.9932 13.8472 13.6514 13.8978C13.4747 13.9202 13.3038 13.9427 13.1271 13.9539C13.0759 13.9595 13.0189 13.9651 12.9676 13.9651C12.7568 13.9763 12.546 13.9875 12.3294 13.9875C12.1129 13.9875 11.8907 13.9763 11.6685 13.9595C11.6115 13.9539 11.5488 13.9539 11.4861 13.9483C10.7682 13.8865 10.0502 13.7518 9.33798 13.5329C7.96476 13.1008 6.72259 12.388 5.67986 11.462ZM7.63997 23.0122C7.14424 22.5127 6.78527 21.9571 6.60293 21.3566C6.47188 20.6999 6.48897 19.9142 6.60293 19.482C6.96761 18.3091 7.98755 17.282 9.41205 16.5748C8.79667 17.8376 8.51746 19.1228 8.57444 20.4361C8.64852 21.9964 9.18983 23.3546 9.86219 24.4658C8.9733 24.0898 8.21547 23.5903 7.63997 23.0122ZM14.1642 25.3077C13.7482 25.3077 13.3323 25.2852 12.9334 25.2403C11.9875 24.2694 10.6485 22.5183 10.5517 20.352C10.4776 18.7861 11.0759 17.2203 12.3237 15.6769C12.6257 15.6264 12.9277 15.5927 13.2411 15.5702C13.5431 15.5478 13.8508 15.5366 14.1642 15.5366C14.3123 15.5366 14.4605 15.5422 14.6086 15.5478C14.4719 15.7611 14.3465 15.9687 14.2326 16.182C13.469 17.5682 13.1215 18.9938 13.1841 20.4474C13.2753 22.4061 14.1129 24.0617 15.0075 25.2852C14.734 25.2964 14.4548 25.3077 14.1642 25.3077ZM21.8736 20.4193C21.8736 21.4183 21.4007 22.3499 20.5858 23.1188C19.4519 23.175 18.7112 22.6137 18.6713 22.5857C18.5289 22.4734 18.3237 22.4959 18.2098 22.6362C18.0958 22.7765 18.1186 22.9785 18.2611 23.0908C18.2952 23.1188 18.8935 23.5734 19.8394 23.725C19.1101 24.2301 18.2269 24.6342 17.2297 24.9036C16.3237 23.8933 15.2468 22.2938 15.1613 20.352C15.1101 19.2239 15.4064 18.0958 16.0445 16.9733C16.2611 16.5917 16.5175 16.21 16.8138 15.8284C16.9904 15.8677 17.1556 15.9126 17.3266 15.9631C19.1385 16.4794 20.5801 17.4279 21.3209 18.6009C21.6799 19.1621 21.8736 19.7795 21.8736 20.4193Z' fill='%23231F20'/%3E%3Cpath d='M24.8195 16.3447C24.7967 16.3111 24.7682 16.2774 24.7283 16.2493C24.1414 15.7723 22.7454 15.2503 21.1898 16.1539C21.6969 15.1605 22.3921 14.7284 22.9676 14.56C23.0303 15.0371 23.4405 15.4075 23.9363 15.4075C24.4776 15.4075 24.922 14.9753 24.922 14.4365C24.922 13.8978 24.4833 13.4656 23.9363 13.4656C23.8907 13.4656 23.8508 13.4712 23.8052 13.4768C23.036 13.4656 21.2411 13.7013 20.2269 15.8565C19.5146 15.4131 18.7055 15.0427 17.8109 14.7677C18.6827 11.5293 18.073 8.02724 16.0901 5.24912C14.6827 3.2848 12.7283 1.83121 10.432 1.05109C10.0331 0.910781 9.59439 1.1016 9.41775 1.47763C8.79666 2.80214 8.46048 4.21084 8.38641 5.63076C6.14139 4.99657 3.78812 5.02463 1.57159 5.74862C1.17273 5.87771 0.933417 6.28741 1.03028 6.69711C1.93057 10.6482 4.92772 13.8585 8.84795 15.0763C9.00749 15.1269 9.16704 15.1661 9.32658 15.211C7.36647 16.0585 5.92487 17.4167 5.38356 19.0106C5.34937 19.0106 5.32088 19.005 5.28669 19.005C4.30664 19.005 3.52031 19.6392 3.52031 20.4193C3.52031 21.1994 4.31233 21.8336 5.28669 21.8336C5.32088 21.8336 5.34937 21.828 5.38356 21.8224C6.09011 23.8933 8.31803 25.5658 11.2069 26.2618C12.1357 26.4806 13.1271 26.6041 14.1642 26.6041H14.2269C14.8366 26.5985 15.4348 26.5536 16.0103 26.475C16.8081 26.3628 17.5659 26.172 18.2724 25.925C21.1898 24.9036 23.1898 22.8158 23.1898 20.4193C23.1898 19.1565 22.6314 17.9779 21.6799 17.0014C22.3807 16.5861 22.9847 16.5748 23.412 16.6815C23.3437 17.007 23.4918 17.355 23.7995 17.5233C24.187 17.7366 24.6713 17.6019 24.8878 17.2259C25.0531 16.934 25.0132 16.5861 24.8195 16.3447ZM10.62 2.86388C12.2724 3.57103 13.6913 4.71034 14.7511 6.192C16.3237 8.38643 16.8821 11.114 16.3807 13.7013C15.4975 10.4069 13.1613 7.66805 10.0559 6.24812C10.0445 6.24251 10.0274 6.2369 10.016 6.23129C10.0217 5.09198 10.2155 3.95267 10.62 2.86388ZM5.67986 11.462C4.36362 10.289 3.36646 8.77929 2.83085 7.07314C4.58584 6.6466 6.4149 6.70834 8.16419 7.25273C8.31233 7.29763 8.45478 7.34814 8.60293 7.40427C8.64282 7.41549 8.67701 7.43233 8.71689 7.44917C8.83655 7.49406 8.96191 7.54458 9.08157 7.59509C9.11575 7.61192 9.14994 7.62315 9.18413 7.63999C9.30379 7.6905 9.42344 7.74662 9.5431 7.80274C9.57729 7.81958 9.61718 7.83642 9.65137 7.85887C9.75393 7.90938 9.8508 7.95989 9.95336 8.01601C10.016 8.04969 10.0844 8.08336 10.1414 8.11703C11.1044 8.66704 11.9648 9.36859 12.6941 10.1992C13.583 11.2094 14.2611 12.4049 14.677 13.7069C14.3408 13.7855 13.9932 13.8472 13.6514 13.8978C13.4747 13.9202 13.3038 13.9427 13.1271 13.9539C13.0759 13.9595 13.0189 13.9651 12.9676 13.9651C12.7568 13.9763 12.546 13.9875 12.3294 13.9875C12.1129 13.9875 11.8907 13.9763 11.6685 13.9595C11.6115 13.9539 11.5488 13.9539 11.4861 13.9483C10.7682 13.8865 10.0502 13.7518 9.33798 13.5329C7.96476 13.1008 6.72259 12.388 5.67986 11.462ZM7.63997 23.0122C7.14424 22.5127 6.78527 21.9571 6.60293 21.3566C6.47188 20.6999 6.48897 19.9142 6.60293 19.482C6.9676 18.3091 7.98755 17.282 9.41205 16.5748C8.79666 17.8376 8.51746 19.1228 8.57444 20.4361C8.64852 21.9964 9.18983 23.3546 9.86219 24.4658C8.9733 24.0898 8.21547 23.5903 7.63997 23.0122ZM14.1642 25.3077C13.7482 25.3077 13.3323 25.2852 12.9334 25.2403C11.9875 24.2694 10.6485 22.5183 10.5517 20.352C10.4776 18.7861 11.0759 17.2203 12.3237 15.6769C12.6257 15.6264 12.9277 15.5927 13.2411 15.5702C13.5431 15.5478 13.8508 15.5366 14.1642 15.5366C14.3123 15.5366 14.4605 15.5422 14.6086 15.5478C14.4719 15.7611 14.3465 15.9687 14.2326 16.182C13.469 17.5682 13.1215 18.9938 13.1841 20.4474C13.2753 22.4061 14.1129 24.0617 15.0075 25.2852C14.734 25.2964 14.4548 25.3077 14.1642 25.3077ZM21.8736 20.4193C21.8736 21.4183 21.4007 22.3499 20.5858 23.1188C19.4519 23.175 18.7112 22.6137 18.6713 22.5857C18.5289 22.4734 18.3237 22.4959 18.2098 22.6362C18.0958 22.7765 18.1186 22.9785 18.2611 23.0908C18.2952 23.1188 18.8935 23.5734 19.8394 23.725C19.1101 24.2301 18.2269 24.6342 17.2297 24.9036C16.3237 23.8933 15.2468 22.2938 15.1613 20.352C15.1101 19.2239 15.4064 18.0958 16.0445 16.9733C16.2611 16.5917 16.5175 16.21 16.8138 15.8284C16.9904 15.8677 17.1556 15.9126 17.3266 15.9631C19.1385 16.4794 20.5801 17.4279 21.3209 18.6009C21.6799 19.1621 21.8736 19.7795 21.8736 20.4193Z' stroke='black' stroke-width='0.25' stroke-miterlimit='10'/%3E%3Cpath d='M14.0901 28.9949C13.6912 28.9949 13.3379 28.7143 13.2639 28.3159L13.0302 27.025C13.0131 26.9352 13.0131 26.8398 13.0245 26.75L13.224 25.5041C13.298 25.0495 13.5659 25.4985 14.0274 25.5714C14.4889 25.6444 14.9562 25.3133 14.8878 25.7622L14.7112 26.8735L14.922 28.024C15.0018 28.473 14.6998 28.9052 14.2439 28.9837C14.1926 28.9893 14.1414 28.9949 14.0901 28.9949Z' fill='black'/%3E%3Cpath d='M14.0901 28.9949C13.6912 28.9949 13.3379 28.7143 13.2639 28.3159L13.0302 27.025C13.0131 26.9352 13.0131 26.8398 13.0245 26.75L13.224 25.5041C13.298 25.0495 13.5659 25.4985 14.0274 25.5714C14.4889 25.6444 14.9562 25.3133 14.8878 25.7622L14.7112 26.8735L14.922 28.024C15.0018 28.473 14.6998 28.9052 14.2439 28.9837C14.1926 28.9893 14.1414 28.9949 14.0901 28.9949Z' stroke='black' stroke-width='0.25' stroke-miterlimit='10'/%3E%3Cpath d='M17.3208 28.7536C17.2752 28.7536 17.0473 28.7817 16.996 28.7761C16.5402 28.7031 16.2439 28.5965 16.318 28.1475L16.5231 26.9128L16.5516 25.7342C16.563 25.2796 17.0131 25.1505 17.4804 25.1617C17.9419 25.173 18.2382 25.3133 18.2325 25.7735L18.204 27.0082C18.204 27.0475 18.1983 27.0868 18.1926 27.1261L17.9761 28.4169C17.9134 28.821 17.7254 28.7536 17.3208 28.7536Z' fill='black'/%3E%3Cpath d='M17.3208 28.7536C17.2752 28.7536 17.0473 28.7817 16.996 28.7761C16.5402 28.7031 16.2439 28.5965 16.318 28.1475L16.5231 26.9128L16.5516 25.7342C16.563 25.2796 17.0131 25.1505 17.4804 25.1617C17.9419 25.173 18.2382 25.3133 18.2325 25.7735L18.204 27.0082C18.204 27.0475 18.1983 27.0868 18.1926 27.1261L17.9761 28.4169C17.9134 28.821 17.7254 28.7536 17.3208 28.7536Z' stroke='black' stroke-width='0.25' stroke-miterlimit='10'/%3E%3C/svg%3E");
            left: -40px;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }

      .panel_1_2 {
        p {
          margin: 0;
          color: #000;
          font-family: "Poppins", sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 34px; /* 106.25% */
          letter-spacing: -0.64px;

          @media all and (max-width: 575px) {
            font-size: 20px;
            margin-bottom: 30px;
          }
        }

        .ring {
          border: 12px solid #D9D9D9;
          border-radius: 50%;
          width: 230px;
          position: relative;
          height: 230px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      //.main_panel_2-jak{
      //  a{
      //
      //  }
      //}

      .main_panel_2-kod {

        @media all and (max-width: 575px) {
          margin-top: 50px;
        }

        h2 {
          span {
            color: #E52521;
          }
        }

        ul {
          li {
            &.heart_r {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='45' height='40' viewBox='0 0 45 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_0_1717)'%3E%3Cpath d='M2.76377 10.5312C3.06037 8.18116 4.21362 4.98524 8.02706 3.10308C12.2661 1.01069 15.568 2.28438 17.5914 3.72081C18.9559 4.68933 19.9187 5.84402 20.4542 6.58258C20.9897 5.84341 21.9532 4.68933 23.3171 3.72081C25.3405 2.28376 28.6424 1.01069 32.8814 3.10308C36.6942 4.98524 37.8481 8.18116 38.1447 10.5312C38.6967 14.909 36.7132 20.0055 33.3211 22.9253C28.9445 26.6927 20.9129 33.7861 20.8325 33.857C20.7244 33.9525 20.5899 34 20.4548 34C20.3197 34 20.1853 33.9525 20.0772 33.857C19.9967 33.7861 11.9645 26.6927 7.5886 22.9253C4.19642 20.0055 2.21294 14.9084 2.765 10.5312H2.76377Z' fill='%23E52421'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_0_1717' x='0.673828' y='0' width='43.5625' height='40' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='2' dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_0_1717'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_0_1717' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
                background-position: center;
                background-size: contain;
              }
            }

            &.heart_gre {
              &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='45' height='40' viewBox='0 0 45 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_0_1721)'%3E%3Cpath d='M2.76377 10.5312C3.06037 8.18116 4.21362 4.98524 8.02706 3.10308C12.2661 1.01069 15.568 2.28438 17.5914 3.72081C18.9559 4.68933 19.9187 5.84402 20.4542 6.58258C20.9897 5.84341 21.9532 4.68933 23.3171 3.72081C25.3405 2.28376 28.6424 1.01069 32.8814 3.10308C36.6942 4.98524 37.8481 8.18116 38.1447 10.5312C38.6967 14.909 36.7132 20.0055 33.3211 22.9253C28.9445 26.6927 20.9129 33.7861 20.8325 33.857C20.7244 33.9525 20.5899 34 20.4548 34C20.3197 34 20.1853 33.9525 20.0772 33.857C19.9967 33.7861 11.9645 26.6927 7.5886 22.9253C4.19642 20.0055 2.21294 14.9084 2.765 10.5312H2.76377Z' fill='%23009746'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_0_1721' x='0.673828' y='0' width='43.5625' height='40' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='2' dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_0_1721'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_0_1721' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
                background-position: center;
                background-size: contain;
              }
            }
          }
        }
      }
    }

    .main_panel_3 {
      margin-top: 69px;


      .slick-slide {
        img {
          margin: auto;
          width: 70%;
          height: auto;

          @media all and (max-width: 575px) {
            width: auto;
            margin: auto;
            display: block;
            max-width: 100%;
          }
        }
      }

      .footer_imgs_slider2 {
        .slick-track {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
    }

    .main_panel_4,
    .panel_footer {
      margin-top: 50px;

      ul {
        list-style-type: none;

        li {
          color: #192F0E;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          position: relative;

          a {
            color: inherit;
            text-decoration: unset;
          }

          &.footer_address {
            &::before {
              background-image: url("../img/ic_location.png");
            }
          }

          &.footer_phone {
            a {
              position: relative;

              &:last-child {
                margin-left: 60px;
              }

              &::before {
                background-image: url("../img/ic_telephone.png");
              }
            }

            &::before {
              display: none !important
            }
          }

          a {


            &::before {
              content: '';
              width: 24px;
              height: 24px;
              position: absolute;
              left: -43px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              top: 0px;
            }
          }

          &.footer_mail {
            &::before {
              background-image: url("../img/ic_message.png");
            }
          }

          &:not(:last-child) {
            margin-bottom: 8px;
          }

          &::before {
            content: '';
            width: 24px;
            height: 24px;
            position: absolute;
            left: -45px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }

        }
      }

      span#last_updated {
        color: #C5C5C5;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 0.2px;
      }
    }

    .panel_2_1 {
      p {
        color: #020203;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.64px;

        @media all and (max-width: 767px) {
          font-size: 22px;
        }

        a {

        }
      }
    }


    .panel_3_1 {
      p {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.64px;

        @media all and (max-width: 767px) {
          font-size: 22px;
        }

        span {
          color: #E52521;
        }
      }

      ul {
        list-style-type: none;

        li {
          color: #000;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          position: relative;
          margin-bottom: 8px;

          &::before {
            content: '';
            position: absolute;
            width: 35.563px;
            height: 32px;
            background-image: url("data:image/svg+xml,%3Csvg width='45' height='40' viewBox='0 0 45 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_15_298)'%3E%3Cpath d='M2.54307 10.5312C2.83967 8.18116 3.99291 4.98524 7.80636 3.10308C12.0454 1.01069 15.3473 2.28438 17.3707 3.72081C18.7352 4.68933 19.698 5.84402 20.2335 6.58258C20.769 5.84341 21.7325 4.68933 23.0964 3.72081C25.1198 2.28376 28.4217 1.01069 32.6607 3.10308C36.4735 4.98524 37.6274 8.18116 37.924 10.5312C38.476 14.909 36.4925 20.0055 33.1004 22.9253C28.7238 26.6927 20.6922 33.7861 20.6118 33.857C20.5037 33.9525 20.3692 34 20.2341 34C20.099 34 19.9645 33.9525 19.8565 33.857C19.776 33.7861 11.7438 26.6927 7.3679 22.9253C3.97572 20.0055 1.99224 14.9084 2.5443 10.5312H2.54307Z' fill='%23009746'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_15_298' x='0.453125' y='0' width='43.5625' height='40' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='2' dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_15_298'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_15_298' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
            left: -40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }

    .panel_4_1 {
      color: #FFF;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      letter-spacing: -0.64px;
      background: #009746;
      padding: 16px;
      margin-bottom: 16px;

      @media all and (max-width: 767px) {
        font-size: 22px;
      }
    }

    .panel_4_2 {
      h2 {
        color: #020203;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.4px;
      }
    }

    .panel_4_3 {
      margin-top: 50px;
      margin-bottom: 24px;

      h2 {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.4px;
      }

      strong {
        color: #E52521;
      }
    }

    .panel_4_4 {
      margin-bottom: 32px;

      .panel_points {
        border-radius: 16px;
        background: #04A64B;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 24px;
        display: flex;
        width: 100%;
        max-width: 730px;
        justify-content: space-between;
        align-items: center;

        @media all and (max-width: 575px) {
          //flex-wrap: wrap;
          align-items: flex-end;
        }

        h3 {
          color: #FFF;
          font-size: 32px;
          font-style: normal;
          font-weight: 800;
          line-height: 110%; /* 35.2px */
          letter-spacing: 0.2px;
          margin: 0;
          display: flex;
          align-items: center;
          gap: 16px;

          @media all and (max-width: 767px) {
            font-size: 22px;
          }

          @media all and (max-width: 575px) {
            flex-wrap: wrap;
            font-size: 24px;
            max-width: 220px;
          }

          svg {
            border-radius: 16px;
            background: #FFF;
          }
        }

        span {
          color: #414C59;
          font-size: 32px;
          font-style: normal;
          font-weight: 800;
          line-height: 125%; /* 40px */
          letter-spacing: 0.2px;

          @media all and (max-width: 575px) {
            margin-top: -10px;
            transform: translateY(-10px);
            font-size: 24px;
          }
        }
      }
    }

    .panel_4_5 {
      h2 {
        color: #020203;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.4px;
      }

      strong {
        color: #E52521;
      }
    }

    .panel_4_6 {
      margin-top: 24px;

      .panel_4_6-wrap {
        display: flex;
        gap: 16px;
        overflow: auto;
        margin-left: -10px;
        margin-right: -10px;
        padding: 10px 10px 20px;

        @media all and (max-width: 575px) {
          overflow: unset;
          flex-direction: column;
        }


        .panel_icon_box-1 {
          display: flex;
          gap: 8px;
          text-align: right;
          width: 100%;
          justify-content: space-between;
          border-radius: 16px;
          background: #FFF;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
          padding: 16px;
          min-width: 211px;

          .panel_icon_box-1_img {
            img {
              width: 64px;
              height: 64px;
            }
          }

          .panel_icon_box-1_content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            span.panel_icon_box-1-title {
              color: #009746;
              text-align: right;
              font-family: Inter, sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 110%;
              letter-spacing: 0.2px;
            }

            span.panel_icon_box-1-points {
              color: #0F172A;
              text-align: right;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 125%;
              letter-spacing: 0.2px;
            }
          }
        }
      }


    }


    .panel_5_1 {
      h1 {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.64px;
        margin-bottom: 24px;
      }
    }

    .panel_5_2 {
      h2 {
        color: #263238;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 38px;
      }

      h3 {
        color: #E52521;
        font-family: $font-family-base;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 48px;

        span {
          display: block;
          color: #999;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }

    .panel_5_3 {
      margin-bottom: 38px;

      h2 {
        color: #263238;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      p {
        color: #999;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .panel_5_4 {

      @media all and (max-width: 575px) {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }

      button.btn {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        padding: 8px 24px;
        border-radius: 16px;
        margin-right: 44px;

        @media all and (max-width: 575px) {
          margin-right: 0;
        }
      }
    }
  }

}

.modal {
  .modal-dialog {
    max-width: 976px;
    width: 100%;
    box-shadow: 0px 5px 8px 0px rgba(65, 76, 89, 0.24);

    @media all and (max-width: 575px) {
      width: auto;
    }

    .modal-header {
      border: 0;

      h1 {
        color: #263238;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        display: block;
        line-height: normal;
        width: 100%;
      }

      button.btn-close {
        position: absolute;
        right: 20px;
      }
    }

    .modal-body {
      .form-label {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .form-control {
        height: 50px;
        font-size: 14px;
      }

      form {
        & > p {
          color: #999;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 25px;
        }
      }
    }

    .modal-footer {
      border: 0;
      text-align: center;
      justify-content: center;
      gap: 40px;

      .btn-primary {
        padding: 8px 24px;
        color: #FFF;
        border-radius: 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; /* 25.6px */
        border: 0;
      }

      .btn-secondary {
        padding: 8px 24px;
        color: #FFF;
        border: 0;
        background: #E52521;
        border-radius: 16px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; /* 25.6px */
      }
    }
  }
}

.added_files {
  max-width: 941px;
  width: 100%;
  margin: 24px auto;

  h3 {
    color: #009746;
    font-family: $font-family-base;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.64px;
    text-align: left;
  }

  p {
    color: #000;
    font-family: $font-family-base;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
  }

  .added_files-wrap {
    .added_file {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      .added_files-info {
        flex: 1 1 100%;

        .added_files-info-text {
          display: flex;
          justify-content: space-between;
          margin-bottom: 7px;

          span.filename {
            color: rgba(0, 0, 0, 0.40);
            font-family: $font-family-base;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          span.filesize {
            color: rgba(0, 0, 0, 0.70);
            font-family: $font-family-base;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .progress {
          height: 3px;
        }
      }
    }

    .added_file_added {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      .added_files-info {
        flex: 1 1 100%;

        .added_files-info-text {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span.filename {
            color: #000;
            font-family: $font-family-base;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            svg {
              margin: 0 10px;
            }

            a {
              text-decoration: unset;
            }
          }

          span.filesize {
            color: rgba(0, 0, 0, 0.70);
            font-family: $font-family-base;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }


}

.panel_upload_file {
  text-align: center;

  h2 {
    color: #009746;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }


  .panel_upload_file-wrap {
    max-width: 941px;
    width: 100%;
    margin: 24px auto;
    border-radius: 10px;
    border: 1px dashed rgba(0, 0, 0, 0.25);
    padding: 32px;

    div {
      margin-bottom: 24px;

      svg {
        margin-bottom: 24px;
      }

      p {
        color: #000;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 12px;
      }

      small {
        color: rgba(0, 0, 0, 0.40);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        display: block;
        line-height: normal;
      }
    }

    .btn {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 25.6px */
      border-radius: 16px;
      background: #04A64B;
      padding: 8px 24px;
      border: 0;
    }
  }
}